.container-fluid > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}
.container-fluid > button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.container-fluid > button:hover {
  background-color: #2c974b;
}
.container-fluid > button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
.container-fluid > button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.container-fluid > button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.modal-body > .AdminAddAccount-popup {
  padding: 12px 12px 12px 0;
  margin: 10px 0 16px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  background-color: rgba(204, 204, 204, 0.2);
}
.modal-body > .AdminAddAccount-popup ul > li label {
  width: 100px;
}
.modal-body > .AdminAddAccount-popup ul > li input {
  border-radius: 4px;
  border: 1px solid orange;
  padding: 2px 2px 0 4px;
}
.modal-body > .AdminAddAccount-popup ul > li input:focus {
  outline: none;
}
.modal-body > .AdminAddAccount-popup .errorMsg {
  color: red;
  position: relative;
  left: 32px;
}
.modal-body > .AdminAddAccount-popup button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  right: -200px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.modal-body > .AdminAddAccount-popup button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.modal-body > .AdminAddAccount-popup button:hover {
  background-color: #2c974b;
}
.modal-body > .AdminAddAccount-popup button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
.modal-body > .AdminAddAccount-popup button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.modal-body > .AdminAddAccount-popup button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}/*# sourceMappingURL=AdminAddAccount.css.map */