<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div>Dear, <%=email%>
    </div>
    <span>We created a new account for you to login Product Move system</span><br>
    <span>Your account: <b>
            <%=userName%>
        </b></span><br>
    <span>Your password: <b>
            <%=password%>
        </b></span><br>
    <span>You need to active your account to work with system</span>
</body>

</html>