<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="facebook.com/huy.JH16">
    <title>Product Move Backend Server</title>
    <style>
        header {
            text-align: center;
            font-weight: 900;
            color: purple;
            cursor: pointer;
            font-size: 3em;
        }

        main {
            margin: 100px 20px;
        }

        h1 {
            font-size: 1.5em;
            cursor: pointer;
        }

        a:hover {
            color: red;
        }

        p {
            font-size: 1.3em;
        }
    </style>
</head>

<body>
    <header>Product Move Backend Server</header>
    <main>
        <aside>
            <h1><a href="/api/docs">1. API Documents</a></h1>
            <p>
                This site contain all information about APIs deployed. You need reload to see newest update.
            </p>
        </aside>
    </main>
</body>

</html>